.set-bg {
    background: url(../../../img/breadcrumb-bg.jpg);
    width: 100%;
    height: 80vh;
}
.set-bg-two{
    background: url(../../../img/about-us.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
}

.set-bg-three {
    background: url(../../../img/banner-bg.jpg);
    width: 100%;
    height: 100%;
}
.set-photo5{
    background: url(../../../img/team/team-2.jpg);
    width: 100%;
    height: 100%;
}
.set-photo6{
    background: url(../../../img/team/team-3.jpg);
    width: 100%;
    height: 100%;
}